.Rproj.user
.Rhistory
.RData
.Rbuildignore
StmarksPlussUrin_PrePost.csv
oppsummering_tone.csv
pres_resultat_tone_22102018.pdf
tmp.pdf
indikatorerSNM.pdf
indikatorerSNM.png
indikatorerSNM.wmf
indikatorerSfinkt.pdf
indikatorerSfinkt.png
indikatorerSfinkt.wmf
sfinkt.pdf
snm.pdf
test.pdf
StMarksTotalScore_5aar_snm.jpg
