tmp.pdf
Etiologi_test.png
dekningsgradtallNRA.csv
dekningsgradtallNRA_v2.csv
feilsok.R
tmp.csv
tullesporringJan.sql
KomplSNMtot.pdf
NRA_Utvikling samlerapport_2017.docx
Registerutviklingsplan 2017.docx
Symtomvarighet.pdf
Tilfredshet.pdf
dekningsgradtallNRA.R
dekningsgradtallNRA_2016.csv
dekningsgradtallNRA_v2_2016.csv
test_prod.R
StMarksMindreEnn12_2013-15.pdf
StMarksMindreEnn12_2013.pdf
StMarksMindreEnn12_2014.pdf
StMarksMindreEnn12_2015.pdf
StMarksMindreEnn12_2016-.pdf
StMarksMindreEnn9_2013-15.pdf
StMarksMindreEnn9_2013.pdf
StMarksMindreEnn9_2014.pdf
StMarksMindreEnn9_2015.pdf
StMarksMindreEnn9_2016-.pdf
StMarksMindreEnn9_ny.pdf
StMarksTotalScore2013-15.pdf
StMarksTotalScore2013.pdf
StMarksTotalScore2014.pdf
StMarksTotalScore2015.pdf
StMarksTotalScore2016-.pdf
StMarksTotalScore_2013-15.pdf
StMarksTotalScore_2013.pdf
StMarksTotalScore_2014.pdf
StMarksTotalScore_2015.pdf
StMarksTotalScore_ny.pdf
Tilfredshet_gr.pdf
Tilfredshet_gr2013-2015.pdf
Tilfredshet_gr2014.pdf
Tilfredshet_gr2015.pdf
Tilfredshet_gr2016-.pdf
Urinlekkasje2013-15.pdf
Urinlekkasje2013.pdf
Urinlekkasje2014.pdf
Urinlekkasje2015.pdf
Urinlekkasje2016-.pdf
dekningsgradtallNRA_2017.csv
utlevering14092018.R
Bestiiling_aarsrapport NRA 2017.docx
StmarksPlussUrin_PrePost.zip
pasienter.csv
StMarksMindreEnn9_snm_med kommentar.pdf
StMarksMindreEnn9_snm_medkommentar.pdf
oppsummering_tone_v2.csv
pres_resultat_tone_22022019.pdf
Norsk_Register_for_Analinkontinens_klokeboken_2020-09-21.csv
indikator1.pdf
indikator1.wmf
indikator10.pdf
indikator10.wmf
indikator11.pdf
indikator11.wmf
indikator12.pdf
indikator12.wmf
indikator13.pdf
indikator13.wmf
indikator2.pdf
indikator2.wmf
indikator3.pdf
indikator3.wmf
indikator4.pdf
indikator4.wmf
indikator5.pdf
indikator5.wmf
indikator6.pdf
indikator6.wmf
indikator7.pdf
indikator7.wmf
indikator8.pdf
indikator8.wmf
indikator9.pdf
indikator9.wmf
Norsk_Register_for_Analinkontinens_klokeboken_2020-10-01 (1).csv
Norsk_Register_for_Analinkontinens_klokeboken_2020-10-01.csv
Postmenopausal.csv
Symtomvarighet.csv
Ultralyd.csv
kompletthetGenQol.csv
kompletthetQolSexualitet.csv
kompletthetStMarks.csv
kompletthetStMarksWexnerKombo.csv
kompletthetUrinlekkasje.csv
komplikasjoner_snm.csv
snmdagbok.csv
tilfredshet.csv
