tmp.pdf
Etiologi_test.png
dekningsgradtallNRA.csv
dekningsgradtallNRA_v2.csv
feilsok.R
tmp.csv
tullesporringJan.sql
KomplSNMtot.pdf
NRA_Utvikling samlerapport_2017.docx
Registerutviklingsplan 2017.docx
Symtomvarighet.pdf
Tilfredshet.pdf
dekningsgradtallNRA.R
dekningsgradtallNRA_2016.csv
dekningsgradtallNRA_v2_2016.csv
test_prod.R
StMarksMindreEnn12_2013-15.pdf
StMarksMindreEnn12_2013.pdf
StMarksMindreEnn12_2014.pdf
StMarksMindreEnn12_2015.pdf
StMarksMindreEnn12_2016-.pdf
StMarksMindreEnn9_2013-15.pdf
StMarksMindreEnn9_2013.pdf
StMarksMindreEnn9_2014.pdf
StMarksMindreEnn9_2015.pdf
StMarksMindreEnn9_2016-.pdf
StMarksMindreEnn9_ny.pdf
StMarksTotalScore2013-15.pdf
StMarksTotalScore2013.pdf
StMarksTotalScore2014.pdf
StMarksTotalScore2015.pdf
StMarksTotalScore2016-.pdf
StMarksTotalScore_2013-15.pdf
StMarksTotalScore_2013.pdf
StMarksTotalScore_2014.pdf
StMarksTotalScore_2015.pdf
StMarksTotalScore_ny.pdf
Tilfredshet_gr.pdf
Tilfredshet_gr2013-2015.pdf
Tilfredshet_gr2014.pdf
Tilfredshet_gr2015.pdf
Tilfredshet_gr2016-.pdf
Tone_avklaringer_aarsrapport2017.R
Urinlekkasje2013-15.pdf
Urinlekkasje2013.pdf
Urinlekkasje2014.pdf
Urinlekkasje2015.pdf
Urinlekkasje2016-.pdf
dekningsgradtallNRA_2017.csv
utlevering14092018.R
Bestiiling_aarsrapport NRA 2017.docx
