tmp.pdf
Etiologi_test.png
dekningsgradtallNRA.csv
dekningsgradtallNRA_v2.csv
feilsok.R
tmp.csv
tullesporringJan.sql
KomplSNMtot.pdf
NRA_Utvikling samlerapport_2017.docx
Registerutviklingsplan 2017.docx
Symtomvarighet.pdf
Tilfredshet.pdf
dekningsgradtallNRA.R
dekningsgradtallNRA_2016.csv
dekningsgradtallNRA_v2_2016.csv
test_prod.R
