KomplSNMtot.pdf
PasientAlder.pdf
Sfinktervurdering.pdf
Symtomvarighet.pdf
TidlBeh.pdf
TidlBeh_sfinkt.pdf
TidlBeh_snm.pdf
Tilfredshet.pdf
tallTilAarsrapport2016nra-concordance.tex
tallTilAarsrapport2016nra.lof
tallTilAarsrapport2016nra.log
tallTilAarsrapport2016nra.lot
tallTilAarsrapport2016nra.pdf
tallTilAarsrapport2016nra.synctex.gz
tallTilAarsrapport2016nra.tex
GenQol.pdf
QolSexualitet.pdf
Sfinktervurdering_snm.pdf
StMarksTotalScore.pdf
Urinlekkasje.pdf
snmDagbok.pdf
snmDagbokPst.pdf
snmDagbokPst_pos.pdf
framed.sty
tallTilAarsrapport2017nra-concordance.tex
tallTilAarsrapport2017nra.lof
tallTilAarsrapport2017nra.log
tallTilAarsrapport2017nra.lot
tallTilAarsrapport2017nra.pdf
tallTilAarsrapport2017nra.synctex.gz
tallTilAarsrapport2017nra.tex
Kompl_sfinkt.pdf
StMarksMindreEnn12.pdf
StMarksMindreEnn12_snm.pdf
StMarksMindreEnn9.pdf
StMarksMindreEnn9_snm.pdf
StMarksTotalScore_SNM.pdf
StMarksTotalScore_aar.pdf
StMarksTotalScore_aar_ahus.pdf
StMarksTotalScore_aar_bergen.pdf
StMarksTotalScore_aar_innlandet.pdf
StMarksTotalScore_aar_ostfold.pdf
StMarksTotalScore_aar_sfinkt.pdf
StMarksTotalScore_aar_snm.pdf
StMarksTotalScore_aar_stolav.pdf
StMarksTotalScore_aar_unn.pdf
StMarksTotalScore_sfinkt.pdf
Symtomvarighet_sfinkt.pdf
Symtomvarighet_snm.pdf
Tilfredshet_gr.pdf
Urinlekkasje_sfinkt.pdf
Urinlekkasje_snm.pdf
WexnerMindreEnn12.pdf
WexnerMindreEnn9.pdf
WexnerTotalScore.pdf
figure
*.wmf
GenQol_sfinkt.pdf
GenQol_snm.pdf
QolSexualitet_sfinkt.pdf
QolSexualitet_snm.pdf
Urinlekkasje_aar.pdf
Urinlekkasje_aar_sfinkt.pdf
Urinlekkasje_aar_snm.pdf
GenQol_sfinkt_2013_2017.pdf
GenQol_snm_2013_2017.pdf
QolSexualitet_sfinkt_2013-2017.pdf
QolSexualitet_snm_2013-2017.pdf
Sfinktervurdering_sfinkt.pdf
StMarksMindreEnn12_sfinkt.pdf
StMarksMindreEnn9_sfinkt.pdf
figurer_1
offentliggjoring2017-concordance.tex
offentliggjoring2017.lof
offentliggjoring2017.log
offentliggjoring2017.lot
offentliggjoring2017.pdf
offentliggjoring2017.synctex.gz
offentliggjoring2017.tex
GenQol_sfinkt_5aar.pdf
GenQol_snm_5aar.pdf
QolSexualitet_5aar.pdf
QolSexualitet_sfinkt_5aar.pdf
QolSexualitet_snm_5aar.pdf
StMarksMindreEnn12_5aar.pdf
StMarksMindreEnn12_sfinkt_5aar.pdf
StMarksMindreEnn12_snm_5aar.pdf
StMarksMindreEnn9_5aar.pdf
StMarksMindreEnn9_sfinkt_5aar.pdf
StMarksMindreEnn9_snm_5aar.pdf
StMarksTotalScore_5aar.pdf
StMarksTotalScore_5aar_sfinkt.pdf
StMarksTotalScore_5aar_snm.pdf
Tilfredshet_gr_sfinkt.pdf
Tilfredshet_gr_snm.pdf
Tilfredshet_sfinkt.pdf
Tilfredshet_snm.pdf
Urinlekkasje_5aar_sfinkt.pdf
Urinlekkasje_5aar_snm.pdf
WexnerMindreEnn12_sfinkt.pdf
WexnerMindreEnn12_sfinkt_5aar.pdf
WexnerMindreEnn12_snm.pdf
WexnerMindreEnn12_snm_5aar.pdf
WexnerMindreEnn9_sfinkt.pdf
WexnerMindreEnn9_sfinkt_5aar.pdf
WexnerMindreEnn9_snm.pdf
WexnerMindreEnn9_snm_5aar.pdf
WexnerTotalScore_aar_sfinkt.pdf
WexnerTotalScore_aar_snm.pdf
WexnerTotalScore_sfinkt.pdf
WexnerTotalScore_snm.pdf
blitt_kontinent_sfinkt.pdf
blitt_kontinent_sfinkt_5aar.pdf
blitt_kontinent_snm.pdf
blitt_kontinent_snm_5aar.pdf
lekkasje.csv
offentliggjoring2018-concordance.tex
offentliggjoring2018.lof
offentliggjoring2018.log
offentliggjoring2018.lot
offentliggjoring2018.pdf
offentliggjoring2018.synctex.gz
offentliggjoring2018.tex
tallTilAarsrapport2018nra-concordance.tex
tallTilAarsrapport2018nra.lof
tallTilAarsrapport2018nra.log
tallTilAarsrapport2018nra.lot
tallTilAarsrapport2018nra.pdf
tallTilAarsrapport2018nra.synctex.gz
tallTilAarsrapport2018nra.tex
tallTilAarsrapport2019nra-concordance.tex
tallTilAarsrapport2019nra.lof
tallTilAarsrapport2019nra.log
tallTilAarsrapport2019nra.lot
tallTilAarsrapport2019nra.synctex.gz
tallTilAarsrapport2019nra.tex
StMarksTotalScore_snm_elektrode.pdf
WexnerTotalScore_snm_elektrode.pdf
reduksjon_lekkasje50.pdf
reduksjon_lekkasje75.pdf
saarinfeksjon.pdf
tallTilAarsrapport2019nra - Kopi.pdf
tmp
utfort_ultralyd.pdf
GenQol_snm_onestage.pdf
InkontinensScore_SNM.pdf
InkontinensscoreMindreEnn12_sfinkt.pdf
InkontinensscoreMindreEnn12_snm.pdf
InkontinensscoreMindreEnn9_sfinkt.pdf
InkontinensscoreMindreEnn9_snm.pdf
Inkontinensscore_sfinkt.pdf
QolSexualitet_snm_onestage.pdf
StMarksMindreEnn12_snm_onestage.pdf
StMarksMindreEnn9_snm_onestage.pdf
StMarksTotalScore_SNM_onestage.pdf
Symtomvarighet_snm_onestage.pdf
Tilfredshet_gr_snm_onestage.pdf
Tilfredshet_snm_onestage.pdf
Urinlekkasje_snm_onestage.pdf
blitt_kontinent_snm_onestage.pdf
pdf_filer.zip
tallTilAarsrapport2020nra-concordance.tex
tallTilAarsrapport2020nra.lof
tallTilAarsrapport2020nra.log
tallTilAarsrapport2020nra.lot
tallTilAarsrapport2020nra.synctex.gz
tallTilAarsrapport2020nra.tex
wmf_filer.zip
tallTilAarsrapport2021nra-concordance.tex
tallTilAarsrapport2021nra.tex
