KomplSNMtot.pdf
PasientAlder.pdf
Sfinktervurdering.pdf
Symtomvarighet.pdf
TidlBeh.pdf
TidlBeh_sfinkt.pdf
TidlBeh_snm.pdf
Tilfredshet.pdf
tallTilAarsrapport2016nra-concordance.tex
tallTilAarsrapport2016nra.lof
tallTilAarsrapport2016nra.log
tallTilAarsrapport2016nra.lot
tallTilAarsrapport2016nra.pdf
tallTilAarsrapport2016nra.synctex.gz
tallTilAarsrapport2016nra.tex
GenQol.pdf
QolSexualitet.pdf
Sfinktervurdering_snm.pdf
StMarksTotalScore.pdf
Urinlekkasje.pdf
snmDagbok.pdf
snmDagbokPst.pdf
snmDagbokPst_pos.pdf
framed.sty
tallTilAarsrapport2017nra-concordance.tex
tallTilAarsrapport2017nra.lof
tallTilAarsrapport2017nra.log
tallTilAarsrapport2017nra.lot
tallTilAarsrapport2017nra.pdf
tallTilAarsrapport2017nra.synctex.gz
tallTilAarsrapport2017nra.tex
Kompl_sfinkt.pdf
StMarksMindreEnn12.pdf
StMarksMindreEnn12_snm.pdf
StMarksMindreEnn9.pdf
StMarksMindreEnn9_snm.pdf
StMarksTotalScore_SNM.pdf
StMarksTotalScore_aar.pdf
StMarksTotalScore_aar_ahus.pdf
StMarksTotalScore_aar_bergen.pdf
StMarksTotalScore_aar_innlandet.pdf
StMarksTotalScore_aar_ostfold.pdf
StMarksTotalScore_aar_sfinkt.pdf
StMarksTotalScore_aar_snm.pdf
StMarksTotalScore_aar_stolav.pdf
StMarksTotalScore_aar_unn.pdf
StMarksTotalScore_sfinkt.pdf
Symtomvarighet_sfinkt.pdf
Symtomvarighet_snm.pdf
Tilfredshet_gr.pdf
Urinlekkasje_sfinkt.pdf
Urinlekkasje_snm.pdf
WexnerMindreEnn12.pdf
WexnerMindreEnn9.pdf
WexnerTotalScore.pdf
figure
